.formulario{
    display: flexbox;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
    
}

.forma, .respuesta{
    border: 1px solid #000;
    margin: 20px;
    padding: 6px;
    border-radius: 8px;
    
}

.letra{
    font-size: 90px;
    text-align: center;
    background-image: url("");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: skyblue;
}
.forma{
    padding: 30px;
}

.respuesta{
    text-align: center;
}

.fondo{
    background-color: #D4E6F1;
}

.color{
    margin-left: 10%;
    margin-top: 10%;
    background-color: #A9CCE3;
}

.casillas{
    margin-left: 15%;
}