<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <a href="../inicio/index.html" class="btn-devolver"></a>
                <div class="tittle">VENNTURE</div>

                <div class="oro">
                    <div class="personajeM">
                        <p class="nombre">danna</p>
                    </div>
                </div>

                <div class="plata">
                    <div class="personaje2">
                        <p class="nombre2">luisa</p>
                    </div>
                </div>

                <div class="bronce">
                    <div class="personaje3">
                        <div class="nombre">

                        </div>
                    </div>
                </div>

                <div class="nombres">
                    <p class="texto1">JAVIER</p>
                    <p class="tiempo">tiempo</p>
                </div>
                <div class="nombres2">
                    <p class="texto1">JAVIER</p>
                    <p class="tiempo">tiempo</p>
                </div>

                    <button type="submit" class="boton">SALIR</button>
            </div>

          
        </div>

    </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>